<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo fuente" >JUEGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container fondo">
    <ion-card class="card fondo">
      <img alt="Silhouette of mountains" src={{image}}/>
      <ion-card-content class="container-game fuente fondo_opc">
        {{ selected_word }}
      </ion-card-content>
      <ion-card-content>
        <div #opc1 class="izquierda fuente" (click)="setValue($event)"></div>
        <div #opc2 class="derecha fuente"  (click)="setValue($event)"></div>
        <div #opc3 class="izquierda fuente"  (click)="setValue($event)"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
