<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo fuente">APRENDE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container fondo">
    <ion-card class="card fondo">
      <img alt="Silhouette of mountains" src= {{imagen}} />
      <ion-card-content class="phoneme fuente">
        {{palabra}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
