<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">APRENDE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <img alt="Silhouette of mountains" src= {{imagen}} />
      <ion-card-content class="phoneme">
        {{palabra}}
      </ion-card-content>
    </ion-card>
    <!-- <audio controls>
      <source src= {{audio}} type="audio/mpeg">
        Your browser does not support the audio element.
      </audio> -->
  </div>

</ion-content>
